/* Fonts */
@font-face {
  font-family: "robotomedium";
  src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
        url("../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* General Styles */
html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
ul,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

:root {
  --color-link: #5e5c5b;
  --color-hover-active: #ffc800;
}

[class$="-container"] {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font: 16px/1.2 "robotoregular";
  background-color: #fff;
}

/* Header */
.header-container {
  border-bottom: 1px solid #e6e4e3;
  padding: 36px 4px 0;
}

.header-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.header-block {
  display: flex;

  & li {
    display: inline-block;
  }
}

.header-block:nth-child(1n) {
  justify-content: flex-end;
  align-items: center;
}

.header-block:nth-child(2n) {
  justify-content: flex-start;
}

.header-top {
  margin-bottom: 27px;

  & .header-block {
    flex-basis: 50%;
  }
}

.choose-block {
  display: block;
  width: 90%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  & .choose-field {
    width: calc(100% - 40px);
    height: 100%;
    padding: 0 10px;
    border: none;
  }

  & .wr-btn-copy {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    right: -1px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-hover-active);
    }
  }
}

.header-info-links {
  & li {
    margin-left: 9px;
    margin-right: 9px;

    &:last-child {
      margin-right: 0;
    }
  }

  & a {
    color: var(--color-link);
    padding: 10px 17px;
    border-radius: 20px;

    &:hover {
      background-color: var(--color-hover-active);
    }
  }

  & .toggle-theme {
    width: 32px;
    height: 16px;
    border: 1px solid #cccac8;
    border-radius: 20px;
    margin-left: 9px;
    vertical-align: middle;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #5e5c5b;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: 2px;
      margin-top: -4px;
    }
  }
}

/* header bottom section */
.wr-search-field {
  width: 280px;
  height: 58px;
  position: relative;

  & .search-field {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    padding: 2px 35px 2px 30px;
    transition: all .3s;

    &:focus {
      box-shadow: 0 1px 0 0 var(--color-hover-active), inset 0 -2px 0 0 var(--color-hover-active);
    }
  }

  & .icon-search_ic,
  & .icon-clear_ic {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
  }

  & .icon-search_ic {
    left: 3px;
    margin-top: -9.5px;
  }

  & .icon-clear_ic {
    right: 6px;
    margin-top: -6.5px;
  }
}

.search-filter {
  display: flex;

  & li {
    width: 39px;
    height: 39px;
    text-indent: -9999px;
  }

  & a {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
  }
}

.icon {
  display: block;
  margin: auto;
}

/* Content */
.emoji-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.emoji-item {
  font-size: 30px;
  margin: 5px;
}